#scroll-arrow {
	height: 2rem;
	width: 2rem;
}

.scroll-top {
	bottom: 15rem;
	position: fixed;
	right: 0.5rem;
	height: 2rem;
	width: 2rem;

	@include responsive(smaller-phone) {
		right: 2rem;
	}
}

.scroll__icon {
	height: 2rem;
	width: 2rem;
	z-index: 100;
	fill: $primary-color-darker;
}
