/**
* footer.scss
*/

/**
* contact style
*/
.contact {
	background-color: $footer-bg-color;
	position: relative;

	@supports (grid-column: 1 / 2) and (display: grid) {
		& {
			grid-column: grid-start / grid-end;

			display: grid;
			grid-template-rows: repeat(2, 1fr);
		}
	}

	// contact icons style
	&__icons {
		display: flex;
		width: 50%;
		height: 4rem;
		margin: 0 auto;

		@include responsive(phone) {
			width: 40%;
		}

		@include responsive(tab-port) {
			width: 30%;
			height: 5rem;
		}

		@include responsive(tab-land) {
			width: 25%;
		}

		@include responsive(big-desktop) {
			width: 20%;
			height: 6rem;
		}
	}

	@supports (justify-content: space-around) and (justify-self: center) {
		&__icons {
			justify-self: center;
			justify-content: space-around;
			align-items: flex-end;
		}
	}

	// icon style
	&__icon {
		cursor: pointer;
		fill: $primary-color;
		width: 2rem;
		height: 2rem;
		margin: 2rem 5rem 0rem;

		@include responsive(tab-port) {
			width: 2.5rem;
			height: 2.5rem;
		}

		&--copyright {
			cursor: default;
			width: 1.5rem;
			height: 1.5rem;
			margin: 2rem 0rem;
		}
	}

	&__link {
		text-decoration: none;
	}
}

/**
* copyright style
*/
.copyright {
	display: flex;
	justify-content: center;
	align-items: center;

	&__text {
		font-size: 1rem;
		color: $primary-color;
		padding-left: 0.5rem;
	}
}
