/**
* header.scss
*/

/**
* header style
*/
%animate {
	color: transparent;
	position: absolute;
	left: 0;
	transform: translateY(150%);
}

.header {
	display: -ms-grid;

	@supports (grid-column: grid) {
		& {
			grid-column: grid-start / grid-end;
			display: grid;
			grid-template-rows: 100%;
		}
	}

	@include responsive(tab-port) {
		-ms-grid-rows: 7vh 93vh;
		grid-template-rows: 7vh 93vh;
	}

	& h1::after {
		content: " Paul";
		color: $primary-color;
		font-family: $font-display;
	}

	@supports (grid-column: grid) {
		&-content {
			grid-row: 1 / -1;
			grid-column: 1 / -1;
			display: grid;
			grid-template-rows: repeat(8, 1fr);
			grid-template-columns: repeat(auto-fit, minmax(3rem, min-content));
		}
	}
	// header-content style
	&-content {
		background-color: $white-color;
		position: relative;
		display: -ms-grid;
		-ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		border-top: 2px solid rgba(137, 189, 218, 0.2);
		border-bottom: 2px solid rgba(137, 189, 218, 0.2);

		@include responsive(smaller-phone) {
			grid-template-columns: repeat(auto-fit, minmax(5rem, min-content));
		}

		@include responsive(phone) {
			grid-template-columns: repeat(auto-fit, minmax(6rem, min-content));
		}

		@include responsive(tab-port) {
			-ms-grid-row: 2;
			-ms-grid-row-span: -1;
			grid-row: 2 / -1;
			grid-template-columns: minmax(5rem, 1fr) repeat(8, 1fr) minmax(
					5rem,
					1fr
				);
			border-top: 2px solid $primary-color-lighter;
			border-bottom: 2px solid $primary-color-lighter;
		}

		@supports (grid-column: grid) {
			&__title {
				grid-row-start: 3;
				grid-column: 2 / -1;
			}
		}

		&__title {
			color: $card-color;
			font-size: 3rem;
			-ms-grid-row: 3;
			-ms-grid-column: 3;
			-ms-grid-column-span: 4;

			@include responsive(smaller-phone) {
				font-size: 3.5rem;
			}

			@include responsive(phone) {
				font-size: 4rem;
				-ms-grid-column: 3;
				-ms-grid-column-span: 3;
				grid-column: 3 / -1;
			}

			@include responsive(tab-port) {
				font-size: 4.5rem;
				-ms-grid-column: 2;
				-ms-grid-column-span: 3;
				grid-column: 2 / -1;
			}
		}

		@supports (grid-column: grid) {
			&__subtitle {
				grid-row-start: 4;
				grid-column: 2 / -1;
				justify-self: center;
			}
		}

		&__subtitle {
			color: $card-color;
			font-weight: 500;
			-ms-grid-row: 4;
			-ms-grid-column: 2;
			-ms-grid-column-span: 5;
			-ms-grid-row-align: center;
			display: block;
			font-size: 2rem;

			@include responsive(phone) {
				font-size: 3rem;
			}

			@include responsive(tab-port) {
				font-size: 3.5rem;
				-ms-grid-column: 2;
				-ms-grid-column-span: 4;
				grid-column: 1 / span 5;
			}
		}

		&__subtitle::before {
			content: "";
			background-image: url("../../img/small.svg");
			background-size: cover;
			display: inline-block;
			position: relative;
			top: 1px;
			left: 0;
			margin: 0 0.5rem;
			width: 1.5rem;
			height: 1.5rem;

			@include responsive(phone) {
				top: 1px;
				margin: 0 1rem;
				width: 2rem;
				height: 2rem;
			}

			@include responsive(tab-port) {
				top: 2px;
				margin: 0 1.5rem;
				width: 2.5rem;
				height: 2.5rem;
			}
		}

		&__subtitle::after {
			content: "";
			background-image: url("../../img/big.svg");
			background-size: cover;
			display: inline-block;
			position: relative;
			top: 2px;
			left: 0;
			margin: 0 0.5rem;
			width: 1.5rem;
			height: 1.5rem;

			@include responsive(phone) {
				top: 1px;
				margin: 0 1rem;
				width: 2rem;
				height: 2rem;
			}

			@include responsive(tab-port) {
				top: 2px;
				margin: 0 1.5rem;
				width: 2.5rem;
				height: 2.5rem;
			}
		}
	}

	&-content::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background: $primary-color-lighter;
		z-index: 10;
		display: none;

		@include responsive(tab-port) {
			display: block;
		}
	}

	@supports (clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%)) {
		&-content::before {
			width: 65%;
			background: $primary-color-lighter;
			clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
		}
	}

	&__image {
		position: relative;
		z-index: 5;
		display: none;

		animation: fade-in 2s linear;

		@include responsive(tab-port) {
			display: block;
			-ms-grid-row: 3;
			-ms-grid-row-span: 3;
			-ms-grid-column: 6;
			-ms-grid-column-span: 2;
			-ms-grid-row-align: center;
			grid-row: 3 / span 4;
			grid-column: 6 / span 4;
			justify-self: center;
		}

		@include responsive(small-desktop) {
			-ms-grid-row: 3;
			-ms-grid-row-span: 3;
			-ms-grid-column: 5;
			-ms-grid-column-span: 3;
			grid-row: 3 / span 3;
			grid-column: 7 / span 3;
		}
	}

	&__images {
		width: 100%;
		height: 100%;
		display: block;
	}

	@supports (grid-column: grid) {
		&__images {
			width: 100%;
			height: 100%;
			object-fit: contain;
			display: block;
		}
	}
}

/**
* text-box style
*/
@supports (grid-column: grid) {
	.text-box {
		grid-row: 7 / span 2;
		grid-column: 3 / -1;
		font-size: 1.5rem;
	}
}

.text-box {
	-ms-grid-row: 7;
	-ms-grid-row-span: 2;
	-ms-grid-column: 3;
	-ms-grid-column-span: 5;
	font-size: 1.5rem;
	display: flex;
	justify-self: center;
	align-self: center;
	overflow: hidden;

	@include responsive(phone) {
		display: flex;
		font-size: 2rem;
		-ms-grid-column: 3;
		-ms-grid-column-span: 5;
		grid-column: 3 / -1;
	}

	@include responsive(tab-port) {
		font-size: 2.5rem;
		-ms-grid-column: 6;
		-ms-grid-column-span: 6;
		grid-column: 4 / -1;
	}

	&--blue {
		color: $primary-color-darker;
	}

	&__start {
		height: 100%;
		margin-right: 0.5rem;
		z-index: 5;

		@include responsive(tab-port) {
			margin-right: 0.8rem;
		}
	}

	&__end {
		position: relative;
		width: 15rem;
		height: 100%;
		z-index: 5;

		@include responsive(phone) {
			width: 25rem;
		}

		@include responsive(tab-port) {
			width: 30rem;
		}

		& span:nth-child(1) {
			@extend %animate;
		}

		& span:nth-child(2) {
			@extend %animate;
		}

		& span:nth-child(3) {
			@extend %animate;
		}

		& span:nth-child(4) {
			@extend %animate;
		}
	}
}
